In [1]:
import pandas as pd

# ETL: Combine API data with data from the Kaggle CSV

We want the age for each player, which was not available in the API. We found a CSV on Kaggle that contained that data. In this notebook, we combined the two sets of data to get a csv with all desired data.

SOURCE: https://www.kaggle.com/justinas/nba-height-and-weight-analysis

In [2]:
# Read in API stats data CSV
stats_df = pd.read_csv('data/allStatsFinalWithWinnerCol.csv')
stats_df.head()

,Unnamed: 0,Unnamed: 0.1,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,...,playerLastName,playerPosition,team_id,playerWeightPounds,points,rebounds,steals,teamID,turnovers,winner
0,0,0,27276,708256,1.0,0.0,4.0,0.000,3.0,0.0,...,Parsons,F,1,230.0,11.0,4.0,0.0,7,1.0,0
1,1,1,27276,708257,1.0,0.0,3.0,0.286,7.0,2.0,...,Nowitzki,F,7,245.0,17.0,3.0,0.0,7,2.0,0
2,2,2,27276,708258,2.0,3.0,2.0,0.000,0.0,0.0,...,Chandler,C,11,240.0,4.0,3.0,0.0,7,1.0,0
3,3,3,27276,708259,1.0,0.0,3.0,0.000,1.0,0.0,...,Ellis,NaN,10,NaN,14.0,3.0,1.0,7,2.0,0
4,4,4,27276,708260,1.0,0.0,3.0,0.400,5.0,2.0,...,Nelson,NaN,22,NaN,6.0,4.0,0.0,7,1.0,0

In [3]:
# Read in Kaggle CSV
ages_df = pd.read_csv('data/NBAPlayerAges1.csv')
ages_df.head()

,Unnamed: 0,playerFullName,team_abbreviation,age,playerHeight,playerWeight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [4]:
# Read in API game data CSV
games_df = pd.read_csv('data/allGamesFinalWithWinnerCol.csv')
games_df.head()

,Unnamed: 0,Unnamed: 0.1,gameID,date,homeTeamScore,visitorTeamScore,season,period,status,time,...,homeTeamFullName,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamConference,visitorTeamDivision,visitorTeamFullName,visitorTeamName,winner
0,0,0,27276,2014-11-06T00:00:00.000Z,108,87,2014,4,Final,,...,Portland Trail Blazers,Trail Blazers,7,DAL,Dallas,West,Southwest,Dallas Mavericks,Mavericks,25
1,1,1,27277,2014-11-07T00:00:00.000Z,122,119,2014,4,Final,,...,Charlotte Hornets,Hornets,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks,4
2,2,2,27278,2014-11-08T00:00:00.000Z,87,98,2014,4,Final,,...,Houston Rockets,Rockets,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors,10
3,3,3,27279,2014-11-09T00:00:00.000Z,116,100,2014,4,Final,,...,Portland Trail Blazers,Trail Blazers,8,DEN,Denver,West,Northwest,Denver Nuggets,Nuggets,25
4,4,4,27280,2014-11-10T00:00:00.000Z,85,89,2014,4,Final,,...,LA Clippers,Clippers,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,Spurs,27

In [ ]:
# Merge dataframes
master_df = pd.merge(stats_df, games_df, how='left', on='gameID')
print(master_df.columns)
print(master_df.shape)
master_df.head()

In [ ]:
# Drop weird unnamed columns
master_df = master_df[['gameID', 'statsID', 'assists',
       'blocks', 'defensiveRebounds', 'threePointFieldGoalPercent',
       'threePointFieldGoalAttempted', 'threePointFieldGoal',
       'fieldGoalPercent', 'fieldGoalAttempt', 'fieldGoalMade',
       'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 'minutes',
       'offensiveRebound', 'personalFouls', 'playerID', 'playerFirstName',
       'playerHeightFeet', 'playerHeightInches', 'playerLastName',
       'playerPosition', 'team_id', 'playerWeightPounds', 'points', 'rebounds',
       'steals', 'teamID', 'turnovers', 'winner_x', 'date', 'homeTeamScore', 'visitorTeamScore',
       'season_y', 'time', 'homeTeamID', 'homeTeamAbbrev', 'homeTeamCity', 'homeTeamName', 'visitorTeamID',
       'visitorTeamAbbrev', 'visitorTeamCity', 'visitorTeamName']]

master_df.head()

In [5]:
#master_df.to_csv('data/alitest2_112420.csv')
master_df = pd.read_csv('data/alitest2_112420.csv')

In [7]:
print(games_df.columns)
print(stats_df.columns)
print(ages_df.columns)
print(master_df.columns)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'gameID', 'date', 'homeTeamScore',
       'visitorTeamScore', 'season', 'period', 'status', 'time',
       'postseasonBoolean', 'homeTeamID', 'homeTeamAbbrev', 'homeTeamCity',
       'homeTeamConference', 'homeTeamDivision', 'homeTeamFullName',
       'homeTeamName', 'visitorTeamID', 'visitorTeamAbbrev', 'visitorTeamCity',
       'visitorTeamConference', 'visitorTeamDivision', 'visitorTeamFullName',
       'visitorTeamName', 'winner'],
      dtype='object')
Index(['Unnamed: 0', 'Unnamed: 0.1', 'gameID', 'statsID', 'assists', 'blocks',
       'defensiveRebounds', 'threePointFieldGoalPercent',
       'threePointFieldGoalAttempted', 'threePointFieldGoal',
       'fieldGoalPercent', 'fieldGoalAttempt', 'fieldGoalMade',
       'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 'minutes',
       'offensiveRebound', 'personalFouls', 'playerID', 'playerFirstName',
       'playerHeightFeet', 'playerHeightInches', 'playerLastName',
       'playerPosition', 'team_id', 'playerWeightPounds', 'points', 'rebounds',
       'steals', 'teamID', 'turnovers', 'winner'],
      dtype='object')
Index(['Unnamed: 0', 'playerFullName', 'team_abbreviation', 'age',
       'playerHeight', 'playerWeight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')
Index(['Unnamed: 0', 'gameID', 'statsID', 'assists', 'blocks',
       'defensiveRebounds', 'threePointFieldGoalPercent',
       'threePointFieldGoalAttempted', 'threePointFieldGoal',
       'fieldGoalPercent', 'fieldGoalAttempt', 'fieldGoalMade',
       'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 'minutes',
       'offensiveRebound', 'personalFouls', 'playerID', 'playerFirstName',
       'playerHeightFeet', 'playerHeightInches', 'playerLastName',
       'playerPosition', 'team_id', 'playerWeightPounds', 'points', 'rebounds',
       'steals', 'teamID', 'turnovers', 'winner_x', 'date', 'homeTeamScore',
       'visitorTeamScore', 'season_y', 'time', 'homeTeamID', 'homeTeamAbbrev',
       'homeTeamCity', 'homeTeamName', 'visitorTeamID', 'visitorTeamAbbrev',
       'visitorTeamCity', 'visitorTeamName'],
      dtype='object')

In [ ]:
#ages_df.season.values[0][:4]

In [17]:
## Take only the first year of season column to make merging easier
ages_df['season_y'] = ages_df['season_y'].map(lambda y: y[:4])
ages_df.head()

,Unnamed: 0,playerFullName,team_abbreviation,age,playerHeight,playerWeight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season_y
0,0,Dennis Rodman,CHI,36,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996
1,1,Dwayne Schintzius,LAC,28,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996
2,2,Earl Cureton,TOR,39,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996
3,3,Ed O'Bannon,DAL,24,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996
4,4,Ed Pinckney,MIA,34,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996

In [10]:
# Rename column to make merging easier
ages_df = ages_df.rename(columns={'season': 'season_y'})
ages_df.columns

Index(['Unnamed: 0', 'playerFullName', 'team_abbreviation', 'age',
       'playerHeight', 'playerWeight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season_y'],
      dtype='object')

In [11]:
# Add a column with both first and last name to make merging easier
master_df['playerFullName'] = master_df['playerFirstName'] + ' ' + master_df['playerLastName']
master_df.head()

,Unnamed: 0,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,fieldGoalPercent,...,time,homeTeamID,homeTeamAbbrev,homeTeamCity,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamName,playerFullName
0,0,27276,708256,1.0,0.0,4.0,0.000,3.0,0.0,0.385,...,,25,POR,Portland,Trail Blazers,7,DAL,Dallas,Mavericks,Chandler Parsons
1,1,27276,708257,1.0,0.0,3.0,0.286,7.0,2.0,0.353,...,,25,POR,Portland,Trail Blazers,7,DAL,Dallas,Mavericks,Dirk Nowitzki
2,2,27276,708258,2.0,3.0,2.0,0.000,0.0,0.0,0.000,...,,25,POR,Portland,Trail Blazers,7,DAL,Dallas,Mavericks,Tyson Chandler
3,3,27276,708259,1.0,0.0,3.0,0.000,1.0,0.0,0.462,...,,25,POR,Portland,Trail Blazers,7,DAL,Dallas,Mavericks,Monta Ellis
4,4,27276,708260,1.0,0.0,3.0,0.400,5.0,2.0,0.222,...,,25,POR,Portland,Trail Blazers,7,DAL,Dallas,Mavericks,Jameer Nelson

In [18]:
# change data types to make merging possible
master_df.dtypes
ages_df.dtypes
ages_df = ages_df.astype({'season_y': 'int64'})

In [19]:
# merge on player name and the year to get AGES
master_final_df = pd.merge(master_df, ages_df, how='left', on=['playerFullName', 'season_y'])

In [24]:
master_final_df.shape

(166713, 64)

In [21]:
master_final_df.head()

,Unnamed: 0_x,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,fieldGoalPercent,...,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
0,0,27276,708256,1.0,0.0,4.0,0.000,3.0,0.0,0.385,...,66.0,15.7,4.9,2.4,4.6,0.032,0.132,0.205,0.567,0.111
1,1,27276,708257,1.0,0.0,3.0,0.286,7.0,2.0,0.353,...,77.0,17.3,5.9,1.9,4.3,0.021,0.206,0.251,0.560,0.101
2,2,27276,708258,2.0,3.0,2.0,0.000,0.0,0.0,0.000,...,75.0,10.3,11.5,1.1,5.5,0.141,0.271,0.128,0.697,0.053
3,3,27276,708259,1.0,0.0,3.0,0.000,1.0,0.0,0.462,...,80.0,18.9,2.4,4.1,4.2,0.014,0.063,0.277,0.509,0.200
4,4,27276,708260,1.0,0.0,3.0,0.400,5.0,2.0,0.222,...,63.0,8.3,2.3,4.0,-0.6,0.025,0.091,0.199,0.503,0.278

In [22]:
master_final_df.columns

Index(['Unnamed: 0_x', 'gameID', 'statsID', 'assists', 'blocks',
       'defensiveRebounds', 'threePointFieldGoalPercent',
       'threePointFieldGoalAttempted', 'threePointFieldGoal',
       'fieldGoalPercent', 'fieldGoalAttempt', 'fieldGoalMade',
       'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 'minutes',
       'offensiveRebound', 'personalFouls', 'playerID', 'playerFirstName',
       'playerHeightFeet', 'playerHeightInches', 'playerLastName',
       'playerPosition', 'team_id', 'playerWeightPounds', 'points', 'rebounds',
       'steals', 'teamID', 'turnovers', 'winner_x', 'date', 'homeTeamScore',
       'visitorTeamScore', 'season_y', 'time', 'homeTeamID', 'homeTeamAbbrev',
       'homeTeamCity', 'homeTeamName', 'visitorTeamID', 'visitorTeamAbbrev',
       'visitorTeamCity', 'visitorTeamName', 'playerFullName', 'Unnamed: 0_y',
       'team_abbreviation', 'age', 'playerHeight', 'playerWeight', 'college',
       'country', 'draft_year', 'draft_round', 'draft_number', 'gp', 'pts',
       'reb', 'ast', 'net_rating', 'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct',
       'ast_pct'],
      dtype='object')

In [26]:
#Drop some columns
master_final_df = master_final_df[['gameID', 'statsID', 'playerID', 'playerFullName', 'playerFirstName', 'playerLastName',
                                   'playerPosition', 'age', 'playerHeightFeet', 'playerHeightInches', 'playerWeightPounds',
                                   'assists', 'blocks', 'defensiveRebounds', 'threePointFieldGoalPercent',
                                   'threePointFieldGoalAttempted', 'threePointFieldGoal', 'fieldGoalPercent', 
                                   'fieldGoalAttempt', 'fieldGoalMade', 'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 
                                   'minutes', 'offensiveRebound', 'personalFouls', 'points', 'rebounds',
                                   'steals', 'teamID', 'turnovers', 'winner_x', 'date', 'homeTeamScore', 'visitorTeamScore', 
                                   'season_y', 'time', 'homeTeamID', 'homeTeamAbbrev', 'homeTeamCity', 'homeTeamName', 'visitorTeamID', 'visitorTeamAbbrev',
                                   'visitorTeamCity', 'visitorTeamName', 'team_abbreviation', 'playerHeight', 'playerWeight', 'college',
                                   'country', 'draft_year', 'draft_round', 'draft_number', 'gp', 'pts',
                                   'reb', 'ast', 'net_rating', 'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct',
                                   'ast_pct']]

In [27]:
master_final_df.head()

,gameID,statsID,playerID,playerFullName,playerFirstName,playerLastName,playerPosition,age,playerHeightFeet,playerHeightInches,...,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
0,27276,708256,364,Chandler Parsons,Chandler,Parsons,F,26.0,6.0,10.0,...,66.0,15.7,4.9,2.4,4.6,0.032,0.132,0.205,0.567,0.111
1,27276,708257,346,Dirk Nowitzki,Dirk,Nowitzki,F,37.0,7.0,0.0,...,77.0,17.3,5.9,1.9,4.3,0.021,0.206,0.251,0.560,0.101
2,27276,708258,94,Tyson Chandler,Tyson,Chandler,C,32.0,7.0,1.0,...,75.0,10.3,11.5,1.1,5.5,0.141,0.271,0.128,0.697,0.053
3,27276,708259,1635,Monta Ellis,Monta,Ellis,NaN,29.0,NaN,NaN,...,80.0,18.9,2.4,4.1,4.2,0.014,0.063,0.277,0.509,0.200
4,27276,708260,1533,Jameer Nelson,Jameer,Nelson,NaN,33.0,NaN,NaN,...,63.0,8.3,2.3,4.0,-0.6,0.025,0.091,0.199,0.503,0.278

In [28]:
master_final_df.shape

(166713, 63)

In [29]:
# write FINAL MASTER DATAFRAME it to a CSV
master_final_df.to_csv('data/masterFinalData11_24_2020.csv')